html, body{                  /*margin and padding is reset to 0 bcoz nowadays browsers have a default margin/padding set on body or sometimes html therefore html and body is grouped and also margin as well as padding is reset */
    margin: 0px;
    padding: 0px;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


#main-div{
    display: flex;
}
.main-team{
    flex: 1;
    color: white;
    background-color: #1C1C1C;
    height: 100vh;                                      /*takes full vertical height of a div(100 means 100 percent)*/
    padding: 60px 54px 0px 54px ;
}

.main-team-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-form {
  flex: 1;
}

.heading{
    font-size: 50px;
    padding: 52px 0px 16px 0px;
    font-weight: 400;
}

.icon{
    padding: 0px 7px 0px 7px;
}
.subheading{
    display: flex;
    padding: 8px 0px 8px 0px;
    font-size: larger;
}

.sub-subheading{
    padding-top: 48px;
    /* padding-bottom: 48px; */
    color: #949494;
}

.companies{
    display: flex;
}

.cisco, .salesforce{
    padding-top: 52px;
}
.company{
    padding: 52px 24px 48px 24px;
}

.footer{
    display: flex;
}

.footer-text{
    font-size: 18px;
    padding-left: 8px;
    padding-top: 1px;
}